.nomegrande {
  color: #8880FE;
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  align-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario label {
  display: flex;
  flex-direction: column; 
}

.nomenumero label  {
  font-size: 1.1rem;
  margin-top: 2rem;  
}

.formulario input  {
  background: #161923;
  width: 300px;
  height: 50px;
  padding: 0 0.5rem;
  margin-top: 1rem;
  outline: none;
  color: rgba(166, 166, 166);
  font-size: 1rem;
  border: 1px solid #040B18;
  border-radius: 8px;
}
.formulario select {
  background: #161923;
  width: 300px;
  height: 50px;
  padding: 0 0.5rem;
  margin-top: 1rem;
  outline: none;
  color: rgba(166, 166, 166);
  font-size: 1rem;
  border: 1px solid #040B18;
  border-radius: 8px;
}
.main form input[type="submit"] {
  cursor: pointer;
  width: 50%;
  margin-top: 4rem;
  border: none;
  border-radius: 32px;
  color: white;
  font-size: 1.1rem;
}

.logo {
position: absolute; 
left: 800px; 
top: 23%;
}